/*---------------------------------------------------------------- Login Page */
.divider {
    margin-bottom: 20px;
    margin-top: 20px;
}
/*-------------------------------------------------------------------- Header */
nav {
    background-color: #4b788e;
}
nav .brand-logo {
    font-size: 25px;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.nav-item {
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.fas {
    font-size: 16px;
}
.navbar-fixed { 
    z-index: 9999; /* To fix side navbar overlay problem - used solution found on "https://github.com/Dogfalo/materialize/issues/4046" */
} 
.filters {
    background-color: white;
}
#search {
    background-color: #f6f6f6;
}
.search-icon {
    color: black !important;
}
.btn-nav{
    padding: 0 1rem;  /* to fit search buttons and search bar on one row */
}
/*---------------------------------------------------------------------- Home */
.heading {
    padding: 10px;
}
.card .card-content .card-title {
    font-size: 16px;
    margin-bottom: 0;
}
.small-text {
    font-size: 12px;
    word-spacing: 2px;
}
.medium-text {
    font-size: 18px;
    word-spacing: 2px;
}
.card .card-content {
    padding: 0;
}
.card .card-content .card-icons {
    margin-top: 30px;
}
.upvotes {
  padding-left: 6px;
  font-size: 16px;
  text-transform: lowercase;
}
.upvote-icon {
    font-size: 24px;
    color: #5e4f31;
}
.btn-to-recipe {
    width: 100%;
    word-spacing: 2px;
    text-transform: none;
}
.btn-upvotes {
    padding:0;
}

/*---------------------------------------------------------------- Add Recipe */
.new-dish, .new-cuisine, .new-allergen {
    display: none;
}
/*----------------------------------------------------------------  Recipe */
.section {
    margin-top: 20px;
    border-radius: 10px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.spacing {
    line-height: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: left;
}
.small-heading {
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
.list-item-height {
    margin-top: 15px;
}
.center-text {
    text-align: center;
}
.recipe-image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
/*----------------------------------------------------------- Dishes/Cuisines */
.name {
    font-size: 16px;
    line-height: 2.5;
}
/*-------------------------------------------------------------------- Footer */
.page-footer {
    background-color: #4b788e;
    padding-top: 15px;
    padding-bottom: 10px;
}
/*CREDIT: Materailizecss code for sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
/*------------------------------------------------------------- Media Queries */
@media screen and (min-width: 600px) {
    nav .brand-logo {
        font-size: 38px;
    }
}