/*-------------------------------------------------------------------- Header */
nav {
    background-color: #4b788e;
}
nav .brand-logo {
    font-size: 25px;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.nav-item {
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.fas {
    font-size: 16px;
}
.navbar-fixed { 
    z-index: 9999; /* To fix side navbar overlay problem - used solution found on "https://github.com/Dogfalo/materialize/issues/4046" */
} 
.filters {
    background-color: white;
}
#search {
    background-color: #f6f6f6;
}
.search-icon {
    color: black !important;
}
/*---------------------------------------------------------------------- Home */
.heading {
    padding: 20px;
    margin: 50px auto;
    background-color: #cedbe0;
}
/*---------------------------------------------------------------- Add Recipe */
.new-dish, .new-cuisine, .new-allergen {
    display: none;
}
/*------------------------------------------------------------- Media Queries */
@media screen and (min-width: 600px) {
    nav .brand-logo {
        font-size: 38px;
    }
}