/*------------------------------------------------------------- -Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Aladin|Exo');

/*------------------------------------------------------------- Reusable code */
/*----- Headings */
.heading {
    margin-bottom: 30px;
    margin-top: 15px;
    font-family: 'Exo', sans-serif;
}
.heading-spacing {
    margin-top: 30px;
}
.heading::before,
.heading::after {
    display: inline-block;
    content: "";
    border-top: 2px solid pink;
    height: 8px;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
/*----- Sections */
.section {
    margin-top: 20px;
    border-radius: 10px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
}
/*----- Button */
.btn {
    background-color: #4ec5c1;
    word-spacing: 5px;
    width: 130px;
}
.btn-spacing {
    margin-top: 20px;
}
.btn-width {
    width: 225px;
}
/*----- Text */
.small-text {
    font-size: 12px;
    word-spacing: 2px;
}
.medium-text {
    font-size: 18px;
    word-spacing: 2px;
}

/*---------------------------------------------------------------- index.html */
.tabs-spacing {
    margin-bottom: 40px;
}
.container-spacing {
    margin-top: 70px;
    margin-bottom: 70px;
}
/*---------------------------------------------------------------- home.html */
.results-display {
    margin-bottom: 0;
}
.upvotes {
    padding-left: 3px;
    transform: translateY(-30%);
}
.fav-icon {
    transform: translateY(30%);
}
.fav-icon-center {
    padding-right: 13px;
}
.btn-recipe-card {
    width: 100%;
    word-spacing: 2px;
    text-transform: none;
    color: #263238;
}
.btn-upvote {
    padding: 0;
}
.card-image {
    height: 250px;
    overflow: hidden;
}
.card .card-content .card-icons {
    margin-top: 10px;
}
.card .card-content .card-title {
    font-size: 16px;
    margin-bottom: 0;
}
.card .card-content {
    padding: 0;
}
/*------------------------------------------------------------ addrecipe.html */
.recipe-form {
    margin-top: 100px;
}

/*----------------------------------------------------------------------------*/
.fas {
    padding-right: 5px;
}
.fa-user {
    padding-right: 10px;
}
.dropdown-content li>a {
    color: #37474f;
}
.capitalize {
    text-transform: capitalize;
}

/*----------------------------------------------------------------Materialize */
.disabled {
    pointer-events: none !important; /* Bug fixed in materialize css class disabled which still worked on click. source: https://github.com/Dogfalo/materialize/issues/3835 */
}



/*------------------------------------------------------------------- Header */
nav {
    background-color: black;
}
nav .brand-logo {
    font-size: 25px;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding-left: 10px;
    font-family: 'Aladin', cursive;
}
.nav-item {
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 0 35px;
    color: #eceff1;
}
.fas {
    font-size: 16px;
}
.navbar-fixed { 
    z-index: 9999; /* To fix side navbar overlay problem - used solution found on "https://github.com/Dogfalo/materialize/issues/4046" */
} 
.filters {
    background-color: white;
}
#search {
    background-color: #f6f6f6;
}
.search-icon {
     color: lightgrey !important;
    transform: translateY(-15%);
}
.btn-nav{
    padding: 0 0.5rem;  /* to fit search buttons and search bar on one row */
    color: #ec576B;
}

/*----------------------------------------------------------------  Recipe */
.icon-height {
    transform: translateY(30%);
    padding-right: 10px;
}
.author-name {
    font-size: 14px;
    word-spacing: 2px;
    padding-left: 5px;
}
.spacing {
    line-height: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: left;
}
.small-heading {
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
.list-item-height {
    margin-top: 15px;
}
.recipe-image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
/*----------------------------------------------------------- Dishes/Cuisines */
.name {
    font-size: 16px;
    line-height: 2.5;
    text-transform: uppercase;
}
/*-------------------------------------------------------------------- Footer */
.page-footer {
    background-color: #4b788e;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 20px;
    color: #eceff1;
}
/*CREDIT: Materailizecss code for sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
/*------------------------------------------------------------- Media Queries */
@media screen and (min-width: 600px) {
    nav .brand-logo {
        font-size: 38px;
    }
    .container-width {
        width: 60%;
    }
    .heading::before,
    .heading::after {
        width: 50px;
    }
}
@media screen and (min-width: 992px) {
    .container-width {
        width: 50%;
    }
}