{% extends 'base.html' %}{% block content %}
<!-- Heading -->
<h4 class="center heading heading-spacing">Add a Recipe</h4>

<!-- Recipe form container -->
<div class="container">
    <div class="section">
        <!-- Instructions -->
        <p class="left">Add information for your own recipe below.<br>
            <span class="small-text red-text text-darken-4">All fields are required.</span>
        </p>
        <!-- Recipe form -->
        <form action="{{url_for('insert_recipe')}}" method="POST" class="recipe-form">
            <!-- Title -->
            <div class="row">
                <div class="input-field col s12">
                    <input required placeholder="Chocolate Chip Cookie" name="recipe_title" type="text" class="validate">
                    <label>Title</label>
                </div>
            </div>
            <!-- Short description -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea required placeholder="These are the ultimate chocolate chip cookies...." name="recipe_short_description" class="materialize-textarea"></textarea>
                    <label>Short Description</label>
                </div>
            </div>
            <!-- Image -->
            <div class="row">
                <div class="input-field col s12">
                    <input required placeholder="Enter image url" name="recipe_image_url" type="url" class="validate">
                    <label>Image URL</label>
                </div>
            </div>
            <!-- Cuisines -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="cuisine_name" name="cuisine_name" required>
                        <option value="" disabled selected>Choose Cuisine</option>
                        {% set _stub = cuisines.rewind() %}
                        {% for cuisine in cuisines %}
                            <option value="{{cuisine.cuisine_name}}" >{{cuisine.cuisine_name}}</option>
                        {% endfor %}
                    </select>
                    <label>Cuisine</label>
                </div>
            </div>
            <!-- Dishes -->
            <div class="row">
                <div class="input-field col s12">
                    <select name="dish_type" required>
                        <option value="" disabled selected>Choose Dish Type</option>
                        {% set _stub = dishes.rewind() %}
                        {% for dish in dishes %}
                            <option value="{{dish.dish_type}}">{{dish.dish_type}}</option>
                        {% endfor %}
                    </select>
                    <label>Dish Type</label>
                </div>
            </div>
            <!-- Allergens -->
            <div class="row">
                <div class="input-field col s12">
                    <select name="allergen_name" multiple required>
                        <option value="" disabled selected>Choose Allergen</option>
                        {% set _stub = allergens.rewind() %}
                        {% for allergen in allergens %}
                            <option value="{{allergen.allergen_name}}">{{allergen.allergen_name}}</option>
                        {% endfor %}
                    </select>
                    <label>Allergens</label>
                </div>
            </div>
            <div class="row">
                <!-- Prep Time -->
                <div class="input-field col s6">
                    <input required placeholder="50 mins" name="recipe_prep_time" type="text" class="validate" >
                    <label>Preparation Time</label>
                </div>
                <!-- Cook Time -->
                <div class="input-field col s6">
                    <input required placeholder="80 mins" name="recipe_cook_time" type="text" class="validate">
                    <label>Cooking Time</label>
                </div>
            </div>
            <div class="row">
                <!-- Total Time -->
                <div class="input-field col s6">
                    <input required placeholder="2hrs 10mins" name="total_time" type="text" class="validate">
                    <label>Total Time</label>
                </div>
                <!-- Servings -->
                <div class="input-field col s6">
                    <input required placeholder="5" name="recipe_serves" type="text" class="validate">
                    <label>Servings</label>
                </div>
            </div>
            <!-- Ingredients -->
            <div class="row">
                <div class="col s12 flow-text">Ingredients</div>
            </div>
            <div id="ingredients">
                <div class="row">
                    <div class="input-field col s10 m11">
                        <input required placeholder="100g Sugar" name="ingred" type="text" class="validate">
                        <label>Ingredient(s)</label>
                    </div>
                    <div class="col s2 m1">
                        <a class="btn-floating waves-effect waves-light green accent-4" id="add_ingredient"><i class="material-icons">add</i></a>
                    </div>
                </div>
            </div>
            <!-- Method -->
            <div class="row">
                <div class="col s12 flow-text">Method</div>
            </div>
            <div id="steps">
                <div class="row">
                    <div class="input-field col s10 m11">
                        <textarea required placeholder="Preheat oven to 350ºF. ..." name="steps" class="materialize-textarea"></textarea>
                        <label for="recipe_steps">Step(s)</label>
                    </div>
                    <div class="col s2 m1">
                        <a class="btn-floating waves-effect waves-light green accent-4" id="add_step"><i class="material-icons">add</i></a>
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <button class="col s12 btn medium-text waves-effect waves-light" type="submit">Save Recipe</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}