{% extends 'base.html' %}{% block content %}

<h4 class="heading center">All Cuisines</h4>

{% if delete_cuisine == False %}
<div class="container center">
    <h5 class="red-text text-darken-4">Oops, there is an error!</h5>
    <p>Sorry this category name cannot be deleted. A category name can only me deleted if it contains no recipe.</p>
</div>
{% endif %}
<div class="row">
    {% set _stub = cuisines.rewind() %}
    {% for cuisine in cuisines %}
    <div class="col s12 m4">
        <div class="card-panel blue-grey lighten-5 row">
            <div class="col s6 ">
                <span class="name">{{cuisine.cuisine_name}}</span>
            </div>
            <div class="col s3 ">
                <a href="{{url_for('edit_cuisine', cuisine_id = cuisine._id)}}" class="waves-effect waves-light yellow-text text-darken-4"><i class="material-icons">edit</i></a>
             </div>
            <div class="col s3 ">   
                <a href="{{url_for('delete_cuisine', cuisine_id = cuisine._id)}}" class="waves-effect waves-light red-text"><i class="material-icons">delete</i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col s12 m4 offset-m4 center-align">
       <a href="{{url_for('add_cuisine')}}" class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Add Cuisine</a> 
    </div>
</div>
{% endblock %}