{% extends 'base.html' %}{% block content %}

<!-- Heading -->
<h4 class="heading center heading-spacing">All Cuisines</h4>

<!-- Cuisine names container -->
<div class="row">
    {% set _stub = cuisines.rewind() %}
    {% for cuisine in all_cuisines %}
        {% for k,v in cuisine.items() %}
        <div class="col s12 m4">
            <!-- Cuisine name -->
            <div class="card-panel blue-grey lighten-5 row">
                <div class="col s6">
                    <span class="name">{{k}} ({{v}})</span>
                </div>
                {% if v != 0 %}
            <!-- Edit cuisine -->
                <div class="col s2 offset-s2">
                    <a href="{{url_for('edit_cuisine', cuisine_id = cuisine._id)}}" class="disabled waves-effect waves-light grey-text">
                        <i class="material-icons">edit</i>
                    </a>
                 </div>
            <!-- Delete cuisine -->
                <div class="col s2">   
                    <a href="{{url_for('delete_cuisine', cuisine_id = cuisine._id)}}" class="disabled waves-effect waves-light grey-text">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
                {% else %}
                <!-- Edit cuisine -->
                <div class="col s2 offset-s2">
                    <a href="{{url_for('edit_cuisine', cuisine_id = cuisine._id)}}" class="waves-effect waves-light yellow-text text-darken-4">
                        <i class="material-icons">edit</i>
                    </a>
                 </div>
            <!-- Delete cuisine -->
                <div class="col s2">   
                    <a href="{{url_for('delete_cuisine', cuisine_id = cuisine._id)}}" class="waves-effect waves-light red-text">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
</div>

<!-- New cuisine submission link -->
<div class="row">
    <div class="col s12 m4 offset-m4 center-align">
        <a href="{{url_for('add_cuisine')}}" class="waves-effect waves-light btn btn-width medium-text btn-spacing">
           <i class="material-icons left">add_box</i>Add Cuisine
        </a> 
    </div>
</div>

{% endblock %}