{% extends 'base.html' %}{% block content %}
<h4 class="heading">Edit Cuisine</h4>
<div class="container">
    <div class="row">
        <form action="{{url_for('update_cuisine', cuisine_id =cuisine._id)}}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                <input placeholder="Enter cuisine name" name="cuisine_name" type="text" class="validate" value="{{cuisine.cuisine_name}}" required>
                <label for="recipe_title">New Cuisine</label>
                </div>
            </div>
            <div class="row">
                <button class="col s12 btn waves-effect waves-light" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}