{% extends 'base.html' %}{% block content %}
<!-- Heading -->
<h4 class="center heading heading-spacing">Edit Dish Type</h4>
<!-- Alert messages -->
{% if edit_dish == False %}
    <div class="container center">
        <h5 class="red-text text-darken-4">Oops, there is an error!</h5>
        <p>Sorry this category name cannot be edited. A category name can only me edited if it contains no recipe.</p>
    </div>
{% endif %}
<!-- Edit form container -->
<div class="container container-width container-spacing">
    <div class="row">
        <form action="{{url_for('update_dish', dish_id =dish._id)}}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                <input placeholder="Enter dish type" name="dish_type" type="text" class="validate" value="{{dish.dish_type}}" required>
                <label>New Dish</label>
                </div>
            </div>
            <div class="row">
                <button class="col s12 btn medium-text btn-spacing waves-effect waves-light" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}