{% extends 'base.html' %}{% block content %}
<!-- Heading -->
<h4 class="heading center heading-spacing">Edit Cuisine</h4>
<!-- Alert messages -->
<!--{% if edit_cuisine == False %}
    <div class="container center">
        <h5 class="red-text text-darken-4">Oops, there is an error!</h5>
        <p>Sorry this category name cannot be edited. A category name can only be edited if it contains no recipe.</p>
    </div>
{% endif %}-->
<!-- Edit form container -->
<div class="container container-width container-spacing">
    <div class="row">
        <form action="{{url_for('update_cuisine', cuisine_id =cuisine._id)}}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                <input placeholder="Enter cuisine name" name="cuisine_name" type="text" class="validate" value="{{cuisine.cuisine_name}}" required>
                <label for="recipe_title">New Cuisine</label>
                </div>
            </div>
            <div class="row">
                <button class="col s12 btn medium-text btn-spacing waves-effect waves-light" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}